body {
	background-attachment:fixed;
}
.border {
	border: 1px dashed #999;
}
.borderwhite {
	border: 1px dashed #ffffff;
}
.table_border {
	border: 1px solid #ffffff;
}
.border1 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666;
}
.border2 {
	border: 1px solid #E0E0E0;
}
.border3 {
	border: 1px solid #B67921;
}
.heading {
    font-family: tahoma;
	font-size: 20pt;
    border:solid #6B1E1E;
	color: #6B1E1E;
	text-decoration: none;
}
.heading1 {
    font-family: tahoma;
	font-size: 18pt;  
	color: #6B1E1E;
	text-decoration: none;
}
.heading2 {
    font-family: tahoma;
	font-size: 22pt;  
	color: #6B1E1E;
	text-decoration: none;
}
.font8 {
	font-family: Arial;
	font-size: 8pt;
	color: #333;
	text-decoration: none;
}
.font8 a:link {
	font-family: Arial;
	font-size: 8pt;
	color: #333;
	text-decoration: none;
}
.font8 a:visited {
	font-family: Arial;
	font-size: 8pt;
	color: #333;
	text-decoration: none;
}
.font8 a:hover {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}
.font8 a:active {
	font-family: Arial;
	font-size: 8pt;
	color: #333;
	text-decoration: none;
}
.font9 {
	font-family: Arial;
	font-size: 9pt;
	color: #333;
	text-decoration: none;
}
.font9 a:link {
	font-family: Arial;
	font-size: 9pt;
	color: #333;
	text-decoration: none;
}
.font9 a:visited {
	font-family: Arial;
	font-size: 9pt;
	color: #333;
	text-decoration: none;
}
.font9 a:hover {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.font9 a:active {
	font-family: Arial;
	font-size: 9pt;
	color: #333;
	text-decoration: none;
}
.font10 {
	font-family: Arial;
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
}
.font10 a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
}
.font10 a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
}
.font10 a:hover {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
}
.font10 a:active {
	font-family: Arial;
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
}
.font11 {
	font-family: Arial;
	font-size: 11pt;
	color: #333333;
	text-decoration: none;
}
.font11 a:link {
	font-family: Arial;
	font-size: 11pt;
	color: #333333;
	text-decoration: none;
}
.font11 a:visited {
	font-family: Arial;
	font-size: 11pt;
	color: #000000;
	text-decoration: none;
}
.font11 a:hover {
	font-family: Arial;
	font-size: 11pt;
	color: #2e45d5;
	text-decoration: none;
}
.font11 a:active {
	font-family: Arial;
	font-size: 11pt;
	color: #c72122;
	text-decoration: none;
}
.font50 {
	font-family: Arial;
	font-size: 11pt;
	color: #333333;
	text-decoration: none;
}
.font50 a:link {
	font-family: Arial;
	font-size: 11pt;
	color: #333333;
	text-decoration: none;
}
.font50 a:visited {
	font-family: Arial;
	font-size: 11pt;
	color: #000000;
	text-decoration: none;
}
.font50 a:hover {
	font-family: Arial;
	font-size: 11pt;
	color: #2e45d5;
	text-decoration: none;
}
.font50 a:active {
	font-family: Arial;
	font-size: 11pt;
	color: #c72122;
	text-decoration: none;
}
.fontwhite {
    font-family: Arial;
	font-size: 10pt;
	color: #ffffff;
	text-decoration: none;
}
.fontblue {
    font-family: Arial;
	font-size: 10pt;
	color: #132667;
	text-decoration: none;
}
.fontblue9 {
    font-family: Arial;
	font-size: 9pt;
	color: #132667;
	text-decoration: none;
}
.fontblue12 {
    font-family: Arial;
	font-size: 12pt;
	color: #132667;
	text-decoration: none;
}
.fontred8 {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.fontred8 a:link {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.fontred8 a:visited {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.fontred8 a:hover {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}
.fontred8 a:active {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.font8_red {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.font8_red a:link {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.font8_red a:visited {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.font8_red a:hover {
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}
.font8_red a:active {
	font-family: Arial;
	font-size: 8pt;
	color: #FF0000;
	text-decoration: none;
}
.fontred9 {
	font-family: Arial;
	font-size: 9pt;
	color: #F00;
	text-decoration: none;
}
.red_font9 {
	font-family: Arial;
	font-size: 9pt;
	color: #F00;
	text-decoration: none;
}
.fontred10 {
	font-family: Arial;
	font-size: 10pt;
	color: #F00;
	text-decoration: none;
}
.red_font10 {
	font-family: Arial;
	font-size: 10pt;
	color: #F00;
	text-decoration: none;
}
.fontred12red {
	font-family: Arial;
	font-size: 12pt;
	color: #F00;
	text-decoration: none;
}
.red_font12 {
	font-family: Arial;
	font-size: 12pt;
	color: #F00;
	text-decoration: none;
}
.fontmaroon12 {
    font-family: Arial;
	font-size: 12pt;
	color: #b40404;
	text-decoration: none;
}
.fontred12 {
    font-family: Arial;
	font-size: 12pt;
	color: #b40404;
	text-decoration: none;
}
.fontmaroon10{
	font-family: Arial;
	font-size: 10pt;
	color: #b40404;
	font-weight: normal;
	text-decoration: none;
}
.fontmaroon10 a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #b40404;
	text-decoration: none;
}
.fontmaroon10 a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #b40404;
	text-decoration: none;
}
.fontmaroon10 a:hover {
	font-family: Arial;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
}
.fontmaroon10 a:active {
	font-family: Arial;
	font-size: 10pt;
	color: #b40404;
	text-decoration: none;
}
.Step{
	font-family: Arial;
	font-size: 10pt;
	color: #b25350;
	font-weight: normal;
	text-decoration: none;
}
.Step a:link {
	font-family: Arial;
	font-size: 10pt;
	color: #b25350;
	text-decoration: none;
}
.Step a:visited {
	font-family: Arial;
	font-size: 10pt;
	color: #b25350;
	text-decoration: none;
}
.Step a:hover {
	font-family: Arial;
	font-size: 10pt;
	color: #000;
	text-decoration: none;
}
.Step a:active {
	font-family: Arial;
	font-size: 10pt;
	color: #b25350;
	text-decoration: none;
}
.menu {
	font-family: Arial;
	font-size: 10pt;
	color: #9b2d2d;
	text-decoration: none;
}
.titel {
	font-family: Tahoma;
	font-size: 14pt;
	color: #7B302D;
	text-decoration: none;
}
.titel a:link {
	font-family: Tahoma;
	font-size: 14pt;
	color: #333333;
	text-decoration: none;
}
.titel a:visited {
	font-family: Tahoma;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
}
.titel a:hover {
	font-family: Tahoma;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
}
.titel a:active {
	font-family: Tahoma;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
}
.titel_1 {
	font-family: Tahoma;
	font-size: 12pt;
	color: #333;
	text-decoration: none;
}
.titel_1 a:link {
	font-family: Tahoma;
	font-size: 12pt;
	color: #333;
	text-decoration: none;
}
.titel_1 a:visited {
	font-family: Tahoma;
	font-size: 12pt;
	color: #333;
	text-decoration: none;
}
.titel_1 a:hover {
	font-family: Tahoma;
	font-size: 12pt;
	color: #000
	text-decoration: none;
}
.titel_1 a:active {
	font-family: Tahoma;
	font-size: 12pt;
	color: #333
	text-decoration: none;
}
.titel_2 {
	font-family: papyrus;
	font-size: 24pt;
	color: #7B302D;
	text-decoration: none;
}
.titel_2 a:link {
	font-family: papyrus;
	font-size: 14pt;
	color: #7B302D;
	text-decoration: none;
}
.titel_2 a:visited {
	font-family: papyrus;
	font-size: 14pt;
	color: #7B302D;
	;
	text-decoration: none;
}
.titel_2 a:hover {
	font-family: papyrus;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
}
.titel_2 a:active {
	font-family: papyrus;
	font-size: 14pt;
	color: #7B302D;
	text-decoration: none;
}
.header {
	font-family: kristen;
	font-size: 36pt;
	color: #7B302D;
	text-decoration: none;
}
.header1 {
	font-family: garamond;
	font-size: 22pt;
	color: #7B302D;
	text-decoration: none;
}
h1 {
	font-family: papyrus;
	font-size: 24pt;
	color: #7B302D;
	text-decoration: none;
}
h2 {
    font-family: papyrus;
	font-size: 14pt;
	color: #132667;
	text-decoration: none;
}
h3 {
	font-family: Tahoma;
	font-size: 12pt;
	color: #333333;
	text-decoration: none;
}
.space1 {
       position:relative;
       top:00px;
       left:10px;
}
