/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 12px Verdana;
list-style-type: none;
overflow: hidden;
width: 100%;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
	float: left;
	display: block;
	text-decoration: none;
	margin: 0; /*right divider between tabs*/
	color: white;
	padding: 18px 19px;
}

.mattblackmenu li a:visited{
color: white;
}

.mattblackmenu li a:hover{
background:url(../images/menu_1.png) repeat-x ;
/*background of tabs for hover state */
}

.mattblackmenu a.selected{
background:url(../images/menu_1.png) repeat-x ;
}
