RewriteEngine On

RewriteRule aboutus.html$ index.php?object=1 [nc]
RewriteRule customjeans-step1.html$ index.php?object=2 [nc]
RewriteRule howtoorder.html$ index.php?object=3 [nc]
RewriteRule contactus.html$ index.php?object=4 [nc]
RewriteRule returnpolicy.html$ index.php?object=5 [nc]
RewriteRule termsandconditions.html$ index.php?object=6 [nc]
RewriteRule payment.html$ index.php?object=7 [nc]
RewriteRule ipn.html$ index.php?object=8 [nc]
RewriteRule myprofile.html$ index.php?object=9 [nc]
RewriteRule myorders.html$ index.php?object=10[nc]
RewriteRule myorderdetails.html$ index.php?object=11[nc]
RewriteRule gallery.html$ index.php?object=13[nc]
RewriteRule mydetails.html$ index.php?object=14[nc]
RewriteRule updateprofile.html$ index.php?object=15[nc]
RewriteRule changepassword.html$ index.php?object=16[nc]
RewriteRule shipping.html$ index.php?object=17[nc]
RewriteRule cancelation_or_modification_of_order.html$ index.php?object=18[nc]
RewriteRule privacypolicy.html$ index.php?object=19[nc]
RewriteRule offlinepaymentdone.html$ index.php?object=20[nc]
RewriteRule register.html$ index.php?object=21[nc]
RewriteRule forgotpassword.html$ index.php?object=22[nc]
RewriteRule error.html$ index.php?object=23[nc]
RewriteRule checkout.html$ index.php?object=24[nc]
RewriteRule mycart.html$ index.php?object=25[nc]
RewriteRule notifyurl.html$ index.php?object=26[nc]
RewriteRule changemycartjeans.html$ index.php?object=27[nc]
RewriteRule testimonials.html$ index.php?object=33[nc]
RewriteRule ourconcept.html$ index.php?object=34 [nc]
RewriteRule partner.html$ index.php?object=35[nc]
RewriteRule inquiry.html$ index.php?object=41[nc]
RewriteRule contactus.html$ index.php?object=37[nc]
RewriteRule customjeans.html$ index.php?object=213[nc]
RewriteRule fabricsindex.html$ index.php?object=200[nc]
RewriteRule logout.html$ logout.php [nc]
